.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    position: relative;
    top: -8px;
}
.images {
    width: 25px;
    height: 25px;
    display: flex;
    transition: transform 0.5s ease-in-out;
}